<div id="<%= dom_id deal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= deal.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= deal.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= deal.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= deal.start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= deal.company %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job:</strong>
    <%= deal.job %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= deal.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fee:</strong>
    <%= deal.fee %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this deal", deal, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this deal', edit_deal_path(deal), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
